# Pyenv environment
.python-version

# Poetry virtual environment
.venv
poetry.lock

# Hydra generated dirs
multirun
outputs
hpc_jobs
hydra_plugins

# Python cache
*__pycache__*

# Apple Finder files
.DS_Store

# Weights and Biases logs
wandb
wandb_downloads

# Pytest cache
.coverage
.pytest_cache