# Pyenv environment
.python-version

# UV virtual environment
.venv
uv.lock

# Hydra generated dirs
multirun
outputs
hpc_jobs
hydra_plugins

# Data cache
.data_cache

# Binary files
*.pkl
*.bin

# Python cache
*__pycache__*

# Apple Finder files
.DS_Store

# Weights and Biases logs
wandb

# Pytest cache
.coverage
.pytest_cache