# Pyenv environment
.python-version

# UV virtual environment
.venv
uv.lock

# Hydra generated dirs
multirun
outputs
hpc_jobs
hydra_plugins

# Data cache
.data_cache
reward_example*.pdf

# Binary files
*.pkl
*.bin
*.safetensors
.pth

# Python cache
*__pycache__*

# Apple Finder files
.DS_Store

# Weights and Biases logs
wandb

# Pytest cache
.coverage
.pytest_cache

# Environment variables and secrets
.env
